body{
    padding: 0px;
    margin: 0px;
    text-align: right;
    
}


.top{
    background-color: rgb(110, 0, 33);
    text-align: center;
}
.tops{
    margin: 20px;
    background-color: rgba(250, 250, 250, 0);
    border: 0px;
    color: white;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.vv{
    width: 100%;
    margin: 5px;
}
.tyty{
    border-radius: 20px;
    display: inline-block;
}
.hh{
    display: inline-block;
}